<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'employee:search' %}" method="get">
    {% csrf_token %}
    <input type="text" name="first_name" id="search_first_name" value="">
    <label for="search_first_name">first name</label>
    <br>
    <input type="text" name="last_name" id="search_last_name" value="">
    <label for="search_last_name">last name</label>
    <br>
    <input type="submit" value="Search">
</form>
<div>
    {% if list %}
        <table>
            <tr>
                <th>id</th>
                <th>first name</th>
                <th>last name</th>
                <th>first name kana</th>
                <th>last name kana</th>
            </tr>
            {% for employee in list %}
            <tr>
                <td><a href="/employee/{{ employee.id }}/">{{ employee.id }}</a></td>
                <td>{{ employee.first_name }}</a></td>
                <td>{{ employee.last_name }}</a></td>
                <td>{{ employee.first_name_kana }}</a></td>
                <td>{{ employee.last_name_kana }}</a></td>
            </tr>
            {% endfor %}
            </ul>
        </table>
    {% else %}
        <p>Employee not found.</p>
    {% endif %}
</div>
